---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import WhyComfortzone from "../components/WhyComfortzone.astro";
import Spaces from "../components/Spaces.astro";
import Services from "../components/Services.astro";
import Audience from "../components/Audience.astro";
import Gallery from "../components/Gallery.astro";
import ContactForm from "../components/ContactForm.astro";
import Location from "../components/Location.astro";
import FAQ from "../components/FAQ.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout>
  <Navbar />
  <main>
    <Hero />
    <WhyComfortzone />
    <Spaces />
    <Services />
    <Audience />
    <Gallery />
    <ContactForm />
    <Location />
    <FAQ />
  </main>
  <Footer />
</BaseLayout>
