---
import "../styles/global.css";
import { site } from "../data/site";

import BaseLayout from "./BaseLayout.astro";
import LegalFooter from "../components/LegalFooter.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <header
    class="navbar bg-base-100/95 backdrop-blur-sm sticky top-0 z-50 shadow-sm px-4"
  >
    <div
      class="max-w-6xl mx-auto w-full flex items-center justify-between gap-4"
    >
      <a href="/" class="shrink-0" aria-label={`${site.name} - Homepage`}>
        <img src={site.logo} alt={`${site.name} logo`} class="h-24 w-auto" />
      </a>
    </div>
  </header>

  <main class="container mx-auto max-w-4xl px-6 py-16">
    <div class="fab">
      <a
        href="https://wa.me/393920345773"
        class="btn btn-lg btn-circle btn-white p-1"
        target="_blank"
      >
        <image src="/logos/wa.webp" />
      </a>
    </div>

    <article class="prose prose-lg max-w-none">
      <slot />
    </article>
  </main>
  <LegalFooter />
</BaseLayout>
